:root {
    --dls-color-white: #ffffff;
    --dls-color-black: #000000;
    --dls-color-b59782: #B59782;
    --dls-color-9f593f: #9F593F;
    --dls-color-faf4ef: #FAF4EF;
    --dls-color-685c51: #685c51;
    --dls-color-2a2a2a: #2A2A2A;
    --dls-color-7d7d7d: #7D7D7D;
    --dls-color-f4f4f4: #F4F4F4;
    --dls-color-866C5A: #866C5A;
    --dls-color-ded1c7: #DED1C7;
    --dls-color-323648: #323648;
    --dls-color-f4eee9: #F4EEE9;
    --dls-color-202020: #202020;
    --dls-color-808080: #808080;
    --dls-color-545454: #545454;
    --dls-color-523616: #523616;
    --dls-color-d2baa3: #D2BAA3;

    --dls-max-width-1: 1000px;
    --dls-max-width-2: 990px;
    --dls-max-width-3: 920px;
    --dls-max-width-4: 1200px;
    --dls-max-width-5: 900px;
    --dls-max-width-6: 776px;
    --dls-max-width-7: 1260px;
    --dls-form-1-max-width: 510px;
    --dls-form-2-max-width: 950px;
    --dls-header-z-index: 10;
    --dls-z-index-1: 1;
    --dls-z-index-2: 2;
    --dls-z-index-3: 3;
}

* {
    outline: none !important;
}