@use "@/static/buddy-os-icons.css";
@use "@/styles/dls/index.scss" as *;

:root {
    --scroll-bar-color: #6C757D;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

* {
    box-sizing: border-box;

    &::before,
    &::after {
        box-sizing: border-box;
    }
}

body {
    font-family: "SF Pro Display", "Cinzel", sans-serif;
    font-size: 16px;
    line-height: 100%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    margin: 0;
    overflow-x: hidden;
}

/* ===== Scrollbar CSS ===== */

/* Firefox */
* {
    scrollbar-width: auto;
    scrollbar-color: var(--scroll-bar-color);
    scroll-behavior: smooth;
}
  
/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
    width: 6px;
    height: 6px; 
    scroll-behavior: smooth;
}
  
*::-webkit-scrollbar-thumb {
    background-color: var(--scroll-bar-color);
    border-radius: 10px;
    border: 3px solid var(--scroll-bar-color);
    visibility: hidden;
    
    &:hover {
        border: 3px solid var(--dls-matte-turquoise-1800);
        visibility: visible !important;
    }
  
    -moz-transition: visibility .45s ease-in-out .1s;
    -ms-transition: visibility .45s ease-in-out .1s;
    -o-transition: visibility .45s ease-in-out .1s;
    -webkit-transition: visibility .45s ease-in-out .1s;
    transition: visibility .45s ease-in-out .1s;
}
  
*:hover {
    &::-webkit-scrollbar-thumb {
        visibility: visible;
    }
}

.app-main-view {
    padding-top: 115px; //cheat header
}

.global-btn-brown {
    font-family: 'Cinzel';
    font-weight: 600;
    font-size: 20px;
    line-height: 100%;
    letter-spacing: 1.5px;
    color: var(--dls-color-white);
    padding: 24px 48px;
    background: var(--dls-color-9f593f);
    border-radius: 9999px;
    cursor: pointer;

    &:hover {
        opacity: .8;
    }
}

.global-breadcrumbs {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;

    .text {
        font-weight: 700;
        font-size: 12px;
        line-height: 13px;
        letter-spacing: 1px;
        color: var(--dls-color-9f593f);
    }

    .bo_right {
        font-size: 10px;
        color: var(--dls-color-9f593f);
    }
}